body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(-45deg,#0f0f0f,#1c1c1c,#141414,#000);
  background-size:400% 400%;
  animation:gradientFlow 12s ease infinite;
  color:#fff;
  font-family:Segoe UI;
}

@keyframes gradientFlow{
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}

.container{
  width:520px;
  padding:30px;
  border-radius:15px;
  background:#1e1e1e;
}

.section{display:none;}
.section.active{display:block;}

input[type="radio"],
input[type="checkbox"]{
  transform:scale(1.5);
  margin-right:6px;
  accent-color:#00ff95;
}

button{
  margin-top:20px;
  padding:10px 15px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background:#00ff95;
}
