*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(-45deg,#0f0f0f,#1c1c1c,#141414,#000);
  background-size:400% 400%;
  animation:gradientFlow 12s ease infinite;
  color:#fff;
}

@keyframes gradientFlow{
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}

.container{
  width:520px;
  padding:35px;
  border-radius:20px;
  background:#1e1e1e;
  box-shadow:0 20px 60px rgba(0,0,0,0.7);
}

.progress{
  height:8px;
  background:#333;
  border-radius:10px;
  margin-bottom:25px;
}

#progressBar{
  height:100%;
  width:33%;
  background:linear-gradient(90deg,#00ff95,#00c6ff);
  transition:0.4s;
}

.section{display:none;}
.section.active{display:block;}

h2{margin-bottom:20px;}

label{
  display:block;
  margin-top:15px;
  margin-bottom:8px;
  font-size:14px;
  color:#ccc;
}

input[type="text"]{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:1px solid #333;
  background:#2a2a2a;
  color:white;
}

input[type="radio"],
input[type="checkbox"]{
  transform:scale(1.5);
  margin-right:6px;
  accent-color:#00ff95;
  cursor:pointer;
}

.scale-group label{
  display:inline-block;
  margin:6px 10px 6px 0;
}

.scale-info{
  font-size:12px;
  color:#888;
  margin-bottom:15px;
}

button{
  padding:12px 20px;
  border:none;
  border-radius:12px;
  margin-top:20px;
  cursor:pointer;
  transition:0.3s;
}

.next-btn{
  background:linear-gradient(90deg,#00c6ff,#0072ff);
  color:white;
}

.prev-btn{
  background:#444;
  color:#fff;
}

button[type="submit"]{
  background:linear-gradient(90deg,#00ff95,#00c6ff);
  color:black;
  font-weight:bold;
}

button:hover{
  transform:translateY(-2px);
  box-shadow:0 0 15px #00ff95;
}

.hidden{display:none;}

#thankYou{
  text-align:center;
}

.checkmark{
  font-size:60px;
  color:#00ff95;
  margin-bottom:15px;
}
