body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.form-container{
  width:420px;
  background:#111;
  padding:30px;
  border-radius:20px;
  box-shadow:0 15px 40px rgba(0,0,0,0.6);
  color:#f5f5f5;
  border:1px solid #d4af37;
}

.next-btn{
  background:#d4af37;
  color:black;
}

.submit-btn{
  background:#f5c518;
  color:black;
}

.progress-bar{
  background:#d4af37;
}

